// _ButtonSolid.scss

// dev
.row {
  margin-bottom: 16px;
}

/* 

  When moving this code to sputnik,
  remember to use the maps for setting the btnColor and
  btnTextColor variables 

*/
$btnColor: #ffc900;
$btnTextColor: #3b012d; 

$btnBorderRadius: (
  'small': 12px,
  'medium': 16px,
  'large': 20px,
  'xtra-large': 24px,
);

// the base styles that are shared
// across all solid buttons
@mixin button-solid-base {
  background-color: $btnColor;
  display: inline-block;
  text-align: center;
  // state styles
  transition: 220ms all ease-in-out;
  &:hover,
  &:active,
  &:focus {
    background-color: scale-color($btnColor, $lightness: -20%);
    text-decoration: none;
  }
}

@mixin label-base {
  color: $btnTextColor; 
  font-family: map-get($brand-fonts, 'primary');
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}

.ButtonSolid {
  @include button-solid-base;
  border-radius: map-get($btnBorderRadius, 'small'); 
  min-width: 122px;
  min-height: 40px;
  padding: 10px 20px 14px;

  & .ButtonSolid__label {
    @include label-base;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 1px;
  }
}

.ButtonSolid--medium {
  @include button-solid-base;
  border-radius: map-get($btnBorderRadius, 'medium');
  min-width: 134px;
  min-height: 48px;
  padding: 12px 24px 16px; 

  & .ButtonSolid__label {
    @include label-base;
    font-size: 15px;
    line-height: 1.33;
    letter-spacing: 0.9px;
    
  }
} 

.ButtonSolid--large {
  @include button-solid-base;
  border-radius: map-get($btnBorderRadius, 'large');
  min-width: 147px;
  min-height: 56px;
  padding: 16px 28px 20px; 

  & .ButtonSolid__label {
    @include label-base;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.8px;
    
  }
}

.ButtonSolid--xtraLarge {
  @include button-solid-base;
  border-radius: map-get($btnBorderRadius, 'xtra-large');
  min-width: 159px;
  min-height: 64px;
  padding: 18px 32px 22px;

  & .ButtonSolid__label {
    @include label-base;
    font-size: 17px;
    line-height: 1.41;
    letter-spacing: 0.7px;
  }
}